.moviescard__img {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f9f9f9;
  border-radius: 36px;
  margin-top: 19px;
  margin-right: 14px;
  cursor: pointer;
  animation-timing-function: ease-in-out;
  background-image: url(../../../images/__saved.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.moviescard__img:hover {
  transition: 0.5s;
  background-color: #2be080;
  background-image: url(../../../images/__saved2.svg);
}
