.aboutme__subtitle {
  width: 600px;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width: 1023px) {
  .aboutme__subtitle {
    width: 348px;
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .aboutme__subtitle {
    margin-top: 40px;
    width: 292px;
    font-size: 30px;
    line-height: 36px;
  }
}
