.register__input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
}

.register__input:focus {
  border-bottom: 1px solid #2be080;
}

.register__input[type="text"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.register__input[type="email"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.register__input[type="password"] {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
