.searchform__form-submit {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  width: 34px;
  height: 34px;
  background-color: #2be080;
  border-radius: 48px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-timing-function: ease-in-out;
}

.searchform__form-submit:hover {
  transition: 0.6s;
  background-color: #cacaca;
}

@media screen and (max-width: 1023px) {
  .searchform__form-submit {
    margin-right: 19px;
  }
}
