.navigation__list-links {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  z-index: 3;
}
