.techs__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1140px;
}

@media screen and (max-width: 1023px) {
  .techs__container {
    max-width: 668px;
  }
}

@media screen and (max-width: 767px) {
  .techs__container {
    max-width: 284px;
  }
}
