@import url(../../blocks/profile/profile.css);
@import url(../../blocks/profile/__name/profile__name.css);
@import url(../../blocks/profile/__form/profile__form.css);
@import url(../../blocks/profile/__group-input/profile__group-input.css);
@import url(../../blocks/profile/__input/profile__input.css);
@import url(../../blocks/profile/__paragraph/profile__paragraph.css);
@import url(../../blocks/profile/__line/profile__line.css);
@import url(../../blocks/profile/__button/profile__button.css);
@import url(../../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../../blocks/profile/__button-exit/profile__button-exit.css);
