.aboutproject__container {
  width: 550px;
}

@media screen and (max-width: 1023px) {
  .aboutproject__container {
    width: 319px;
  }
}

@media screen and (max-width: 767px) {
  .aboutproject__container {
    width: 284px;
    margin-top: 60px;
  }
  .aboutproject__container:last-of-type {
    margin-top: 56px;
    margin-bottom: 60px;
  }
}
