.techs__title {
  margin: 0;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid rgba(0, 0, 0);
  padding: 110px 0 23px 0;
  color: #000000;
}

@media screen and (max-width: 1023px) {
  .techs__title {
    padding: 90px 0 23px 0;
  }
}

@media screen and (max-width: 767px) {
  .techs__title {
    padding: 70px 0 28px 0;
    font-size: 18px;
    line-height: 22px;
  }
}
