.register__link {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2be080;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .register__link {
    font-size: 12px;
    line-height: 15px;
  }
}
