.header__container_register {
  margin: 0;
  width: 396px;
  margin-top: 70px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .header__container_register {
    width: 260px;
    margin-top: 56px;
    margin-bottom: 50px;
    justify-content: center;
  }
}
