.profile__button-edit {
  padding: 0;
  border: none;
  outline: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;
  transition-timing-function: ease-in-out;
}

.profile__button-edit:hover {
  transition: 0.6s;
  color: #2be080;
}

@media screen and (max-width: 767px) {
  .profile__button-edit {
    font-size: 12px;
    line-height: 15px;
  }
}
