.aboutme__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .aboutme__link {
    font-size: 14px;
    line-height: 17px;
  }
}
