.navigation__link_item {
  margin-left: 30px;
  margin-right: 30px;
  padding: 8px 20px;
  background: #2be080;
  border-radius: 3px;
}

@media screen and (max-width: 1023px) {
  .navigation__link_item {
    margin-left: 30px;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .navigation__link_item {
    margin-left: 14px;
    margin-right: 0;
  }
}
