.navigation__btn-close {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 50px;
}

@media screen and (max-width: 767px) {
  .navigation__btn-close {
    top: 30px;
    right: 40px;
  }
}
.navigation__btn-close:before,
.navigation__btn-close:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 3px;
  background-color: #000000;
}

.navigation__btn-close:before {
  transform: rotate(45deg);
}
.navigation__btn-close:after {
  transform: rotate(-45deg);
}
