.navigation__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 10px;
    line-height: 16px;
  }
}
