.aboutme__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 66px;
}

@media screen and (max-width: 767px) {
  .aboutme__description {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
}
