@import url(../../blocks/register/register.css);
@import url(../../blocks/register/__welcome/register.css);
@import url(../../blocks/register/__form/register__form.css);
@import url(../../blocks/register/__set/register__set.css);
@import url(../../blocks/register/__box/register__box.css);
@import url(../../blocks/register/__label/register__label.css);
@import url(../../blocks/register/__input/register__input.css);
@import url(../../blocks/register/__span-error/register__span-error.css);
@import url(../../blocks/register/__error/register__error.css);
@import url(../../blocks/register/__input/_red/register__input_red.css);
@import url(../../blocks/register/__form-submit/register__form-submit.css);
@import url(../../blocks/register/__login/register__login.css);
@import url(../../blocks/register/__question/register__question.css);
@import url(../../blocks/register/__link/register__link.css);
