.aboutproject__paragraph-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 9px 14px;
  margin: 0;
  background: #2be080;
  width: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 1023px) {
  .aboutproject__paragraph-title {
    width: 120px;
    padding: 9px 10px;
  }
}

@media screen and (max-width: 767px) {
  .aboutproject__paragraph-title {
    width: 80px;
    padding: 9px 10px;
  }
}
