.promo__link {
  display: flex;
  padding: 0;
  margin: 0;
  text-decoration: none;
  padding: 10px 17px;
  background-color: #e8e8e8;
  border-radius: 10px;
  margin-right: 10px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #000000;
  cursor: pointer;
  transition-timing-function: ease-in-out;
}

.promo__link:last-child {
  margin-right: 0;
}

.promo__link:hover {
  transition: 0.6s;
  background-color: #2be080;
}

@media screen and (max-width: 767px) {
  .promo__link {
    border-radius: 6px;
    padding: 5px 12px;
    font-size: 10px;
    line-height: 16px;
  }
}
