.aboutme__links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 99px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1023px) {
  .aboutme__links {
    margin-top: 87px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .aboutme__links {
    margin-top: 40px;
    margin-bottom: 69px;
  }
}
