.navigation__link-profile {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  margin: 0 25px 0 auto;
}

@media screen and (max-width: 1023px) {
  .navigation__link-profile {
    margin: 0 0 0 0;
  }
}


